
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300;500;600;700;800&display=swap');

// Primary font stack (sans-serif-based), for most UI elements
$primary-font-stack: 'Merriweather Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// Secondary font stack (also sans-serif), for headings, buttons, and labels
$secondary-font-stack: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$primary-font-color: rgb(78, 76, 76);

.login-page {
    display: flex;
    flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: 0.5rem auto;
    height: 100vh;
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg?crop=0.668xw:1.00xh;0.0609xw,0&resize=1200:*');
	background-position: center;
    background-repeat: no-repeat;
    background-size: 60rem;

	color: $primary-font-color;
	font-family: $primary-font-stack;
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
	letter-spacing: 0.015rem;
}

.login-div {
	border-radius: 6rem;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0 auto 15rem;
	width: 50%;
	height: 50%;
	padding: auto;
}

.login-header {
	display: flex;
    font-size: 2.25rem;
    font-weight: bold;
}

.alpaca-image {
    height: 17vh;
	border-radius: 2rem;
}

#name-label {
	margin: 1rem auto 0;
}

.username-subhead{
    font-size: 1.75rem;
    font-weight: bold;
}

//////////// Input and buttons /////////
.form-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.415);
	border-radius: 2rem;
	width: 50%;
	height: 100%;
}

.username-section {
	margin: 0.5rem auto;
	padding: 0; 
}

.password-section {
	margin: 0.5rem auto;
}

input {
	text-align: center;
	height: 2rem;
	display: flex;
	align-content: center;
	align-items: center;
	align-content: center;
	border-radius: 0.5rem;
	border: 1px solid #ccc;
	font-size: 1rem;
	width: 100%;
  }

#outer-btn-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#button-div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

button {
	border-radius: 6rem;
	border: none;
	outline: none;
	
	background: white;
	color: $primary-font-color;
	cursor: pointer;
	width: 100%;
	margin: 0.25rem auto;
	line-height: 1rem;
	letter-spacing: 0.05rem;
	transition: filter 100ms linear;

	&.icon-button {
		display: inline-flex;

		padding: 0;

		justify-content: center;
		align-items: center;
	}
	&:hover,
	&:focus {
		filter: brightness(0.9);
	}
	&:active {
		filter: brightness(0.8);
	}
}