
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300;500;600;700;800&display=swap');

// Primary font stack (sans-serif-based), for most UI elements
$primary-font-stack: 'Merriweather Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// Secondary font stack (also sans-serif), for headings, buttons, and labels
$secondary-font-stack: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$primary-font-color: rgb(78, 76, 76);


.new-trip-page{ 
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(184, 238, 207);
    background-image: url('https://images.unsplash.com/photo-1551801319-ca06060f3fcc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2lucXVlJTIwdGVycmV8ZW58MHx8MHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}




.title {
    color: white;
    font-family: "Monaco", monospace;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.trip-button {
	border-radius: 6rem;
	border: none;
	outline: none;
	
	height: 2rem;
	color: $primary-font-color;
	cursor: pointer;
	width: 100%;
	margin: 0.25rem auto;
	line-height: 1rem;
	letter-spacing: 0.05rem;
	transition: filter 100ms linear;
}

.container {
    display: flex;
    // flex-direction: column;
		flex-direction: column;
    border-radius: 8px;
    border-color: lightgray;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1.4rem 2rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.88);
    margin: auto;
}

.question {
    display: flex;
    justify-content: center;
    font-family: "Monaco", monospace;
    color: $primary-font-color;
    margin: 0.7rem 0;
    // flex-direction: column;
}

//multiple text boxes
.new-trip-text {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    font-family: "Monaco", monospace;
    border-color: rgba(124, 115, 115, 0.4);
    border-radius: 8px;
    width: 45%;
    // flex-direction: column;
}

.new-trip-text::placeholder {
    font-size: 0.83rem;
}

.container button {
    margin: 1.3rem 0;
    padding: 0.3rem;
    width: 40%;
}

.trip-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

// DO I NEED THIs???

// .create-trip-button{
//         // border-radius: 8px;
//         // border: 1px solid transparent;
//         // padding: 0.6em 1.2em;
//         // font-size: 1em;
//         // font-family: inherit;

//     background-color: darkseagreen;
//     width: 30%;
//         // cursor: pointer;
//         // transition: border-color 0.25s;
// }  
//       button:hover {
//         border-color:  green;
//       }